<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">Lovely Place</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="/new_post">+NEW POST</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/login">Login</a>
          </li> 
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">Manage</a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="/dev">Dev Menu</a></li>
              <li><a class="dropdown-item" href="/manage_post">Manage Your Post</a></li>
              <li><a class="dropdown-item" href="/change_username">Change Username</a></li>
              <li><a class="dropdown-item" href="/change_password">Change Password</a></li>
              <hr>
              <li><a class="dropdown-item" href="/admin_management">Admin Management</a></li>
              <hr>
              <li><a class="dropdown-item" href="/logout">Logout</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>